body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    background-color: rgb(117, 117, 173);
}

h1,p{
    margin: 1em auto;
    text-align: center;
}

p{
    font-size: 24px;
}

form{
    width: 60%;
    margin: 0 auto;
    min-width: 380px;
    max-width: 450px;
}

label{
    display: block;
    margin: 0.5rem;
}

fieldset{
    border: solid white 2px;
    border-radius: 5px;
}

input, select{
    border-radius: 0.5rem;
    width: 100%;
    min-height: 2rem;

}

input[type="color"]{
    width: 10%;
}

input[type="submit"]{
    display: block;
    width: 20%;
    margin: 1em auto;
    background-color: brown;
    font-weight: bold;
    font-size: 1.2em;
    color: black;

}

